<div class="tab-wrap">
    <div class="tab-label-content" id="tab1-content">
        <label ng-click="tabActive = 1;" class="tab-title" ng-class="{'active': tabActive === 1}" tabindex="0" role="tab" aria-selected="{{tabActive === 1}}">{{ 'general' | translate }}</label>
        <div class="tab-content" ng-class="{'active': tabActive === 1}">
            <div class="settings-section">
                <div class="section-label">{{ 'credential' | translate }}</div>
                <div class="field">
                    <span class="field-label">{{'label' | translate}}</span>
                    <input type="text" ng-model="credential.label" ng-disabled="!canEdit" required>
                </div>
                <div class="field">
                    <span class="field-label">{{'username' | translate}}</span>
                    <input type="text" ng-model="credential.username" ng-disabled="!canEdit">
                </div>
                <div class="field">
                    <span class="field-label">{{ 'email' | translate}}</span>
                    <input type="text" ng-model="credential.email" ng-disabled="!canEdit">
                </div>
                <div class="field">
                    <span class="field-label">{{'url' | translate}}</span>
                    <input type="text" ng-model="credential.url" ng-disabled="!canEdit">
                </div>
            </div>

            <div class="settings-section">
                <div class="section-label">{{ 'password' | translate }}</div>
                <div class="field pwField">
                    <span class="field-label">{{'password' | translate}}</span>
                    <div class="input-row">
                        <input type="text" ng-model="credential.password" ng-if="pwFieldShown" ng-disabled="!canEdit">
                        <input type="password" ng-model="credential.password" ng-if="!pwFieldShown" ng-disabled="!canEdit">
                        <i class="pointer mdi" ng-class="{'mdi-eye': !pwFieldShown, 'mdi-eye-off': pwFieldShown}"
                           ng-click="togglePwField()" title="{{'toggle_visibility' | translate}}" tabindex="0" role="button"></i>
                        <i class="mdi mdi-refresh pointer" ng-click="generatePassword()" title="{{'generate_password' | translate}}" tabindex="0" role="button"></i>
                    </div>
                </div>
                <div class="field">
                    <span class="field-label">{{'password_repeat' | translate}}</span>
                    <input type="password" ng-model="credential.password_repeat" ng-disabled="!canEdit">
                </div>
            </div>

            <div class="settings-section">
                <div class="section-label">{{ 'notes' | translate }}</div>
                <div class="field">
                    <textarea ng-model="credential.description" ng-disabled="!canEdit"></textarea>
                </div>
            </div>

            <div ng-show="!canEdit" class="alert alert-info">
              {{ 'edit_insufficient_permissions' | translate }}
            </div>

            <div ng-include="'save_btn.html'"></div>
        </div>
    </div>


    <div class="tab-label-content" id="tab2-content">
        <label ng-click="tabActive = 2;" class="tab-title" ng-class="{'active': tabActive === 2}" tabindex="0" role="tab">{{ 'custom_fields' | translate }}</label>
        <div class="tab-content"  ng-class="{'active': tabActive === 2}">
            <div class="settings-section">
                <div class="section-label">{{ 'custom_fields' | translate }}</div>
                <div class="section-empty" ng-show="!(credential.custom_fields | filter:{field_type: '!file'}).length">
                    {{ 'no_custom_fields' | translate }}
                </div>
                <div class="custom_field" ng-repeat="custom_field in credential.custom_fields" ng-if="custom_field.field_type !== 'file'">
                    <div class="cf-row">
                        <div class="field">
                            <input type="text" ng-model="custom_field.label" ng-disabled="!canEdit"
                                   placeholder="{{'label' | translate}}">
                        </div>
                        <div class="field">
                            <div class="input-row">
                                <input type="password" ng-model="custom_field.value" ng-if="custom_field.field_type === 'password'" ng-disabled="!canEdit"
                                       placeholder="{{'value' | translate}}">
                                <input type="text" ng-model="custom_field.value" ng-if="custom_field.field_type === 'text'" ng-disabled="!canEdit"
                                       placeholder="{{'value' | translate}}">
                                <i class="mdi mdi-delete" ng-click="deleteCustomField(custom_field)" title="{{'delete' | translate}}" tabindex="0" role="button"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="settings-section">
                <div class="section-label">{{ 'add_custom_field' | translate }}</div>
                <div class="add-field-row">
                    <div class="field">
                        <span class="field-label">{{'label' | translate}}</span>
                        <input type="text" ng-model="new_custom_field.label" ng-disabled="!canEdit">
                    </div>
                    <div class="field">
                        <span class="field-label">{{'value' | translate}}</span>
                        <input type="password" ng-model="new_custom_field.value" ng-if="new_custom_field.field_type === 'password'" ng-disabled="!canEdit">
                        <input type="text" ng-model="new_custom_field.value" ng-if="new_custom_field.field_type === 'text'" ng-disabled="!canEdit">
                    </div>
                    <div class="field field-type">
                        <span class="field-label">&nbsp;</span>
                        <select class="input-md" name="type" ng-model="new_custom_field.field_type" ng-disabled="!canEdit">
                            <option value="text">{{ 'text' | translate }}</option>
                            <option value="password">{{ 'password' | translate }}</option>
                        </select>
                    </div>
                    <i class="mdi mdi-plus icon-add" ng-click="addCustomField(new_custom_field)" title="{{ 'add_custom_field' | translate }}" tabindex="0" role="button"></i>
                </div>
            </div>

            <div ng-include="'save_btn.html'"></div>
        </div>
    </div>


    <div class="slide" ng-class="{'right': tabActive === 2}"></div>

</div>

<script type="text/ng-template" id="save_btn.html">
    <div class="form-error" ng-show="formError">{{formError}}</div>
    <div class="form-actions">
        <button class="md-btn red" ng-click="deleteCredential()">
            <span>{{'delete' | translate}}</span>
        </button>
        <button class="md-btn" ng-click="cancel()">
            <span>{{'cancel' | translate}}</span>
        </button>
        <button class="md-btn default" ng-click="saveCredential()" ng-disabled="saving || !canEdit">
            <span>
                <i ng-show="saving"
                   ng-class="{'fa-spinner fa-spin': saving}"
                   class="fa"></i>
                {{'save' | translate}}
            </span>
        </button>
    </div>
</script>
