<div class="list">
    <div class="empty" ng-show="found_credentials.length === 0">
        <svg width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"/></svg>
        <p>{{ 'no_credentials_found_for_site' | translate}}</p>
    </div>
    <div class="list-item" ng-repeat="credential in found_credentials" ng-click="openSite(credential)" tabindex="0" role="button">
        <div class="cred-avatar">{{credential.label.charAt(0) || '*'}}</div>
        <div class="cred-body">
            <div class="title">{{credential.label}}</div>
            <div class="info">{{credential.username}} &middot; {{ credential.account.vault.name}}</div>
            <div class="extra" ng-if="credential.otp.secret">
                {{'one_time_password' | translate}}: <div otp-generator secret="credential.otp.secret"></div>
            </div>
        </div>
        <div class="edit" title="{{'edit' | translate}}" ng-click="editCredential(credential); $event.stopPropagation()" tabindex="0" role="button">
            <div class="mdi mdi-pencil"></div>
        </div>
    </div>
</div>
