<div class="password-prompt">
    <div class="content unlock" ng-show="!resetPassword">
        <div class="brand-lockup">
            <img src="/icons/icon.svg" alt="" />
            <div class="wordmark">Passman Premium</div>
        </div>
        <div class="locked-text">{{'extension_locked'| translate}}</div>
        <div class="field">
            <input autofocus type="password" ng-enter="apply_settings()" placeholder="{{'password' | translate}}"
                   ng-model="master_password">
        </div>

        <div class="md-checkbox checkbox-rotate remember-row">
            <label class="input-checkbox checkbox-lightBlue">
                <input type="checkbox" id="master_password_remember" ng-model="master_password_remember">
                <span class="checkbox"></span>
            </label>
            <label for="master_password_remember" class="label">{{'remember_master_password' | translate}}</label>
            <div class="master_pw_warning" ng-show="master_password_remember">
                {{'master_pw_warning' | translate}}
            </div>
        </div>
        <div class="master_pw_warning big" ng-show="inValidPassword">
            {{'invalid_master_password' | translate}}
        </div>
        <div class="master_pw_warning big" ng-show="genericError">
            {{'error' | translate}}
        </div>
        <button class="md-btn default" ng-click="apply_settings()" ng-disabled="saving">
        <span>
            <i ng-show="saving" ng-class="{'fa-spinner fa-spin': saving}" class="fa"></i>
            <i ng-show="!saving" class="fa fa-unlock"></i>
            {{'unlock' | translate}}
        </span>
        </button>
        <div class="forgot-link" ng-click="showResetPassword();" tabindex="0" role="button">{{ 'forgot_password' | translate }}</div>
    </div>
    <div class="content unlock" ng-show="resetPassword">
        <div class="brand-lockup">
            <img src="/icons/icon.svg" alt="" />
            <div class="wordmark">Passman Premium</div>
        </div>
        <div class="locked-text">{{ 'msg_reset_extension' | translate }}</div>
        <div class="reset-actions">
            <div class="md-btn red wave" ng-click="resetExtension()" ng-if="!confirmReset" tabindex="0" role="button">
                <span>{{ 'reset_extension' | translate }} </span>
            </div>
            <div class="md-btn red wave" ng-click="confirmedResetExtension()" ng-if="confirmReset" tabindex="0" role="button">
                <span>{{ 'iam_sure' | translate }}</span>
            </div>
        </div>
    </div>
</div>
